<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <link rel="icon" href="~/Loginassets/images/favicon.png" type="image/gif" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Đăng nhập | THƯ VIỆN SỐ</title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/Loginassets/css/bootstrap.css" />
    <!-- font awesome style -->
    <link href="~/Loginassets/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/Loginassets/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/Loginassets/css/responsive.css" rel="stylesheet" />
    <!--jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <div class="container-login">
        <div class="forms-container">
            <div class="signin">
                <form action="#" class="sign-in-form">
                    <h2 class="title">Đăng nhập</h2>
                    <div class="input-field">
                        <i class="fa fa-user"></i>
                        <input type="text" placeholder="Tên đăng nhập" id="txtuser"/>
                    </div>
                    <div class="input-field">
                        <i class="fa fa-lock"></i>
                        <input type="password" placeholder="Mật khẩu" id="txtpass" />
                    </div>
                    <button class="btn solid" onclick="getuserpass()">Đăng nhập</button>
                    </form>
            </div>
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>Chào mừng đến với Thư viện số UTC2</h3>
                    <p>TRƯỜNG ĐẠI HỌC GIAO THÔNG VẬN TẢI PHÂN HIỆU TẠI TPHCM</p>
                </div>
                <img src="~/Loginassets/images/schoolbgr.png" class="image" alt="" />
            </div>
        </div>
    </div>

</body>

</html>
<script>
    function getuserpass()
    {
        var username = document.getElementById("txtuser").value;     
        var password = document.getElementById("txtpass").value;
    $.ajax({
          url:'Login/DangNhap/Getuserpass',
          method: 'post',
          data: {user: username, pass: password},
          success: function(result){
              if(result.status == "sai tai khoan"){
                 alert('Tài khoản không tồn tại'); 
              } 
              else if(result.status == "sai mat khau"){
                  alert('Sai mật khẩu');
              } 
              else if(result.status == "admin"){
                  window.location.assign("/Admin/AdminBooks/Index")
              }
              else if(result.status == "giangvien"){
                  window.location.assign("/GiangVien/UploadTaiLieu/Index")
              }
              else if(result.status == "sinhvien"){
                  window.location.assign("/Home/TVS")
              }
          },
          error: function(err){
              console.log(err);
          }
      });
    }
</script>