@model ThuVienSo_Project.Models.Danhmuc

@{
    ViewData["Title"] = "Xóa Danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Home" asp-controller="Admin" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Home" asp-controller="Admin" asp-action="AdminCategories">Danh sách danh mục</a>
            <span class="breadcrumb-item active">Thông tin danh mục</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Thông tin danh mục: @Model.Tendanhmuc</h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>Mã danh mục:</td>
                        <td class="text-dark font-weight-semibold">@Model.Madanhmuc</td>
                    </tr>
                    <tr>
                        <td>Tên danh mục:</td>
                        <td>@Model.Tendanhmuc</td>
                    </tr>
                    <tr>
                        <td>Xác nhận xóa:</td>
                        <td>
                             <form asp-controller="AdminCategories" asp-action="Delete" asp-route-id="@Model.Madanhmuc">
                                <input type="hidden" asp-for="Madanhmuc"/>
                                <input type="submit" value="Xác nhận xóa" class="btn btn-danger" />
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
