<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" asp-area="Admin" asp-controller="AdminCategories" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-appstore"></i>
                    </span>
                    <span class="title">Quản lý danh mục</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" asp-area="Admin" asp-controller="AdminBooks" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-book"></i>
                    </span>
                    <span class="title">Quản lý tài liệu</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" asp-area="Admin" asp-controller="AdminKhoaBM" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-global"></i>
                    </span>
                    <span class="title">Quản lý Khoa/Bộ môn</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" asp-area="Admin" asp-controller="HomeNganh" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-profile"></i>
                    </span>
                    <span class="title">Quản lý Ngành</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" asp-area="Admin" asp-controller="AdminMon" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-rocket"></i>
                    </span>
                    <span class="title">Quản lý Môn học</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" asp-area="Admin" asp-controller="AdminGiangvien" asp-action="Index">
                    <span class="icon-holder">
                       <i class="anticon anticon-team"></i>
                    </span>
                    <span class="title">Quản lý Giảng viên</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" asp-area="Admin" asp-controller="AdminSinhvien" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-smile"></i>
                    </span>
                    <span class="title">Quản lý Sinh viên</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" asp-area="Admin" asp-controller="AdminTaikhoan" asp-action="Index">
                    <span class="icon-holder">
                       <i class="anticon anticon-user"></i>
                    </span>
                    <span class="title">Quản lý Tài khoản</span>
                </a>
            </li>
        </ul>
    </div>
</div>