<!-- info section -->

    <section class="info_section layout_padding2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4 info-col">
                    <div class="info_contact">
                        <h4>TRƯỜNG ĐẠI HỌC GIAO THÔNG VẬN TẢI <br> Phân hiệu tại Thành phố Hồ Chí Minh</h4>
                        <div class="contact_link_box">
                            <a href="">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span> Địa chỉ: 450/451 Lê Văn Việt, phường Tăng Nhơn Phú A, TP. Thủ Đức, TP. Hồ Chí Minh </span>
                            </a>
                            <a href="">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span> Điện thoại: (028).3896.6798 - (028).7300.1155 </span>
                            </a>
                            <a href="">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span> Email: doancongnghethongtin@utc2.edu.vn </span>
                            </a>
                            <a href="http://utc2.edu.vn">
                                <i class="fa fa-internet-explorer" aria-hidden="true"></i>
                                <span> Website: http://utc2.edu.vn </span>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-md-6 col-lg-4 info-col">
                    <div class="info_detail">
                        <h4>Liên hệ</h4>
                        <div class="info_social">
                            <a href="https://www.facebook.com/utc2hcmc">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="https://utc2.edu.vn">
                                <i class="fa fa-internet-explorer" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.youtube.com/c/GiaoThôngVậnTảiUTC2">
                                <i class="fa fa-youtube" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.instagram.com/utc2.official/">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 info-col">
                    <div class="info_contact">
                        <h4>Nhận thông báo mới</h4>
                        <form>
                            <input type="text" placeholder="Nhập email" />
                            <button>Đăng ký</button>
                        </form>
                    </div>
                </div>
                <!-- <div class="col-md-6 col-lg-3 info-col">
                    <div class="map_container">
                        <div class="map">
                            <div id="googleMap"></div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>

    <!-- end info section -->

    <!-- footer section -->
    <footer class="footer_section">
        <div class="container">
            <p>
                &copy; <span id="displayYear"></span> All Rights Reserved By
                <a href="https://www.facebook.com/BoMonCNTTUTCHCMC"> IT UTC2 Team </a>
            </p>
        </div>
    </footer>
    <!-- footer section -->