<header class="header_section">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
            <a class="navbar-brand" asp-controller=Home asp-action="TVS">
                <img src="~/assets/images/84398525252dd2738b3c.png" alt="TRƯỜNG ĐẠI HỌC GIAO THÔNG VẬN TẢI" />
                <span class="utc2">
                    Trường Đại học Giao thông Vận tải <br />
                    Phân hiệu tại Thành phố Hồ Chí Minh
                    <br />
                    <span class="TVS">THƯ VIỆN SỐ</span>
                </span>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class=""> </span>
            </button>
            <div class="search-login">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link pl-lg-0" asp-controller=Home asp-action="TVS">Trang chủ <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller=Home asp-action="News" asp-route-id=2> Tin tức - Thông báo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller=Home asp-action="Educate" asp-route-id=2>Tài nguyên số</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller=Home asp-action="Contact" asp-route-id=2>Liên hệ</a>
                        </li>
                        &emsp; &emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                        <li class="dropdown dropdown-animated scale-left">
                                <div class="avatar avatar-image  m-h-10 m-r-15">
                                    <a href="/Login?#">
                                        <img src="~/Adminassets/images/avatars/logo account.png" alt="">
                                    </a>
                                </div>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </div>
</header>