<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" asp-area="GiangVien" asp-controller="UploadTaiLieu" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-book"></i>
                    </span>
                    <span class="title">Quản lý tài liệu</span>
                </a>
            </li>
        </ul>
    </div>
</div>