
@{
    ViewData["Title"] = "Educate";
    int a = ViewBag.id;
    if(a==1) Layout = "~/Views/Shared/_Layout.cshtml";
    else if(a==2) Layout = "~/Views/Shared/_Layout2.cshtml";
}
<section class="catagory_section layout_padding">
        <div class="catagory_container">
            <div class="container">
                <div class="heading_container heading_center">
                    <h2><a asp-controller="Tailieu" asp-action="Index" asp-route-idlayout=@a>Tài nguyên số</a></h2>
                    <p></p>              
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                            <div class="box">
                            <div class="img-box">
                                <img src="~/assets/images/tns_computer.gif" alt="" />
                            </div>
                            <div class="detail-box">
                                <h5><a asp-controller="Tailieu" asp-action="Index" asp-route-Manganh="1" asp-route-idlayout=@a>Công nghệ thông tin</a></h5>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="box">
                            <div class="img-box">
                                <img src="~/assets/images/tns_book.gif" alt="" />
                            </div>
                            <div class="detail-box">
                                <h5><a asp-controller="Tailieu" asp-action="Index" asp-route-Manganh="2" asp-route-idlayout=@a>Khoa học cơ bản</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="box">
                            <div class="img-box">
                                <img src="~/assets/images/tns_vtkt.gif" alt="" />
                            </div>
                            <div class="detail-box">
                                <h5><a asp-controller="Tailieu" asp-action="Index" asp-route-Manganh="3" asp-route-idlayout=@a>Vận tải kinh tế</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="box">
                            <div class="img-box">
                                <img src="~/assets/images/tns_cokhi.gif" alt="" />
                            </div>
                            <div class="detail-box">
                                <h5><a asp-controller="Tailieu" asp-action="Index" asp-route-Manganh="4" asp-route-idlayout=@a>Cơ khí</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="box">
                            <div class="img-box">
                                <img src="~/assets/images/tns_congtrinh.gif" alt="" />
                            </div>
                            <div class="detail-box">
                                <h5><a asp-controller="Tailieu" asp-action="Index" asp-route-Manganh="5" asp-route-idlayout=@a>Công trình</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="box">
                            <div class="img-box">
                                <img src="~/assets/images/tns_dientu.gif" alt="" />
                            </div>
                            <div class="detail-box">
                                <h5><a asp-controller="Tailieu" asp-action="Index" asp-route-Manganh="6" asp-route-idlayout=@a>Điện tử</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

