@{
    ViewData["Title"] = "News";
    int a = ViewBag.id;
    if (a == 1) Layout = "~/Views/Shared/_Layout.cshtml";
    else if (a == 2) Layout = "~/Views/Shared/_Layout2.cshtml";
}
<section class="slider_section">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row">
                        <div class="col-md-13">
                            <div class="detail-box">
                                <h5>Thư viện UTC2</h5>
                                <h1>
                                    For All Your <br /> Reading Needs
                                </h1>
                                <p>
                                    Cùng đến với giao diện hoàn toàn mới và tìm kiếm những cuốn sách theo ngành học của bạn. Chúng tôi sẽ cung cấp tất cả theo nhu cầu bạn đọc.
                                </p>
                                <a href=""> Xem thêm </a>
                            </div>
                        </div>
                        <div class="col-md-13">
                            <div class="img-box">
                                <img src="~/assets/images/slider-img.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-13">
                            <div class="detail-box">
                                <h5>Thư viện UTC2</h5>
                                <h1>
                                    For All Your <br /> Reading Needs
                                </h1>
                                <p>
                                    Cùng đến với giao diện hoàn toàn mới và tìm kiếm những cuốn sách theo ngành học của bạn. Chúng tôi sẽ cung cấp tất cả theo nhu cầu bạn đọc.
                                </p>
                                <a href=""> Xem thêm </a>
                            </div>
                        </div>
                        <div class="col-md-13">
                            <div class="img-box">
                                <img src="~/assets/images/slider-img.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-13">
                            <div class="detail-box">
                                <h5>Thư viện UTC2</h5>
                                <h1>
                                    For All Your <br /> Reading Needs
                                </h1>
                                <p>
                                    Cùng đến với giao diện hoàn toàn mới và tìm kiếm những cuốn sách theo ngành học của bạn. Chúng tôi sẽ cung cấp tất cả theo nhu cầu bạn đọc.
                                </p>
                                <a href=""> Xem thêm </a>
                            </div>
                        </div>
                        <div class="col-md-13">
                            <div class="img-box">
                                <img src="~/assets/images/slider-img.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel_btn_box">
            <a class="carousel-control-prev" href="#customCarousel1" role="button" data-slide="prev">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#customCarousel1" role="button" data-slide="next">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>
<section class="about_section layout_padding" style="padding-top:50px">
    <div class="container">




        <div class="col-md-6" style="min-width:350px">
            <div class="img-box" style="min-height:250px; min-width:350px">
                <img src="~/images/tintuc/cong trinh thanh nien.jpg" height="250px" width="350px" alt="" />
            </div>
        </div>
        <div class="col-md-6" style="min-width:700px; padding-left:40px; padding-top:20px">
            <div class="detail-box">
                <div class="heading_container">
                    <h5 style="margin-bottom: -0.5rem; font-weight: bold">Khánh thành công trình thanh niên Chào mừng Đại hội Đoàn trường NK 2022 - 2024</h5>
                </div>
                <p style="font-weight:200; margin-bottom: 0rem">
                    Trong không khí hân hoan Chào mừng Đại hội Đại biểu Đoàn TNCS Hồ Chí Minh Trường Đại học Giao thông Vận tải Phân hiệu tại TP. Hồ Chí Minh lần thứ X, nhiệm kỳ 2022 - 2024, chiều ngày 21/05/2022, tại tầng 06 Ký túc xá, Trường Đại học Giao thông Vận tải Phân hiệu tại TP. Hồ Chí Minh đã diễn ra buổi Lễ khánh thành Công trình Thanh niên năm học 2021 -2022: “Không gian học tập, sáng tạo và khởi nghiệp”.
                </p>
                <a href=""> Read More </a>
                <br>
            </div>
            <br>
        </div>
        <br>
        <br>

        <div class="col-md-6" style="min-width:350px">
            <div class="img-box" style="min-height:250px; min-width:350px">
                <img src="~/images/tintuc/truc tuyen tu van.jpg" height="250px" width="350px" alt="" />
            </div>
        </div>
        <div class="col-md-6" style="min-width:700px; padding-left:40px; padding-top:20px">
            <div class="detail-box">
                <div class="heading_container">
                    <h5 style="margin-bottom: -0.5rem; font-weight: bold">Trực tuyến: Tư vấn chọn ngành học cùng chuyên gia</h5>
                </div>
                <p style="font-weight:200; margin-bottom: 0rem">
                    Nhằm giúp các Bạn học sinh chọn được ngành nghề phù hợp, phát huy giá trị tài năng, thoả mãn đam mê và đáp ứng nhu cầu thị trường lao động. Từ nhiều năm nay, trước mỗi mùa tuyển sinh thì Trường ĐH GTVT Phân hiệu tại TP HCM luôn sẵn sàng đồng hành cùng quý phụ huynh và các em học sinh. Chương trình Tư vấn chọn ngành cùng chuyên gia năm 2022, của Trường ĐH GTVT Phân hiệu tại TP HCM. Chương trình được phát trực tiếp trên Fanpage chính thức củaTrường ĐH GTVT Phân hiệu tại TP HCM vào lúc 19h00 ngày 11/5/2022.
                </p>
                <a href=""> Read More </a>
                <br>
            </div>
            <br>
        </div>
        <br>
        <br>

        <div class="col-md-6" style="min-width:350px">
            <div class="img-box" style="min-height:250px; min-width:350px">
                <img src="~/images/tintuc/chung ket.jpg" height="250px" width="350px" alt="" />
            </div>
        </div>
        <div class="col-md-6" style="min-width:700px; padding-left:40px; padding-top:20px">
            <div class="detail-box">
                <div class="heading_container">
                    <h5 style="margin-bottom: -0.5rem; font-weight: bold">Chung kết cuộc thi "Tranh tài Kế toán" năm 2022</h5>
                </div>
                <p style="font-weight:200; margin-bottom: 0rem">
                    Nhằm tạo sân chơi học thuật giúp sinh viên rèn luyện về chuyên môn và các kỹ năng nghề nghiệp cho sinh viên ngành Kế toán; Bộ môn Tài chính - Kế toán đã tổ chức cuộc thi "Tranh tài Kế toán năm 2022" với 02 vòng. Vòng sơ khảo được tổ chức vào ngày 14/4/2022 đã thu hút 90 thí sinh tham gia. BTC đã chọn được 15 thí sinh để lập thành 5 đội thi tiếp tục dự thi vòng Chung khảo vào ngày 24/4/2022.
                </p>
                <a href=""> Read More </a>
                <br>
            </div>
            <br>
        </div>
        <br>
        <br>

    </div>

</section>
